<?xml version="1.0"?>

<project name="Automation" >
<http-only>true</http-only>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
			<secure>true</secure>
</project>
